.users-box {
    border: 1px solid;
    width: 400px;
    height: 300px;
    background-color: lightgray;
    text-align: center;
    display: inline-block;
    list-style: none;
}

.users-btn {
    width: 220px;
    height: 50px;
}